{% extends 'base.html' %}

{% block head %}

<title>BOT</title>
<link rel="icon" href="https://img.icons8.com/nolan/64/bot.png">

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Answer Checker Bot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">

        <!-----------  NAV BAR ROUTING ----------->
        <a class="nav-link" href={{ url_for("index") }}>Check Answer <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Question</a>
      </li>
      <!------------------------------------------->
    </ul>
  </div>
</nav>
<h1>Enter Question</h1>
<!------ FORM TO GET THE QUESTION , QUESTION NUMBER, ANSWER------------>
<form action="/addans" method="POST">
	<textarea class="form-control" id="exampleFormControlTextarea0" name="question" rows="3"></textarea>
	<h1>Enter Question Number</h1>
	<textarea class="form-control" id="exampleFormControlTextarea2" name="number" rows="3"></textarea>
	<h1>Enter the Answer</h1>
	<textarea class="form-control" id="exampleFormControlTextarea3" name="answer" rows="3"></textarea>
	<input class="btn btn-primary" type="submit" value="Submit" style="grid-row-gap: 10px;">
</form>
<!--------------------------------------------------------------------->


{% endblock %}